<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>


<body>
 <div class="main-content">
        {{>header}}
        <p>Openweathermap.org.</p>
        <img class="portrait" src="/img/jewoon.png">
    </div>

    {{>footer}}
</body>


</html>